<section class="card">
  <img src="assets/record.jpg" alt="" class="hero-img" />
  <article class="instruction">
    <h1>Key Rent Details</h1>
    <label class="form-label" for="keycode">KeyCode</label>
    <input id="keycode" type="text" [(ngModel)]="keyRent.keyCode" />
    <label class="form-label" for="rfid">RFID</label>
    <input id="rfid" type="text" [(ngModel)]="keyRent.RFID" />
    <div class="row">
      <button class="btn btn-primary" (click)="createRent()">Rent Key</button>
    </div>
  </article>
</section>
