section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.instruction {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instruction h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
