<input
  style="opacity: 0"
  #hiddenInput
  type="text"
  (keydown.enter)="handleScan(hiddenInput.value)"
/>
<section class="card">
  <img src="assets/scan.jpg" alt="" class="hero-img" />
  <article class="instruction">
    <h1>
      Welcome to<br />
      Husqvarna Manufacturing
    </h1>
    <p>
      To proceed please <b>scan QR code</b> and follow instruction.<br />
      If code you dont have code or it is not working proceed with Manual
      Typing.
    </p>
    <button class="btn btn-primary" (click)="nextSlide()">Manual Typing</button>
  </article>
</section>
