.notification {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1000;
  border-radius: 5px;
  background-color: rgba(224, 219, 219, 0.582);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.notif-text {
  font-size: 1.1rem;
  color: #6d6b6b;
}
.notif-title {
  font-size: 2em;
  font-weight: 500;
  color: var(--orange-color);
}
