<section>
  <dialog-popup
    *ngIf="showPopUp"
    (popStatus)="handlePopStatus($event)"
    [objectForAction]="keyForAction"
    [apiEndpoint]="apiEndpoint"
    [action]="dialogAction"
  ></dialog-popup>
  <div class="container">
    <h1>Keys Overview</h1>
    <p class="note">
      Fill in the fields to create a new key record. Click on the "+" button to
      save the record. If Updated or Deleted, the record will be updated or
      deleted from the database with provided values.
    </p>
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        placeholder="...search"
      />
      <input placeholder="Key Code" type="text" [(ngModel)]="keyToSave.code" />
      <input placeholder="Key Room" type="text" [(ngModel)]="keyToSave.room" />
      <button class="btn btn-primary" (click)="createKeyRecord()">+</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Key Code</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="keys.length === 0">
        No data
      </p>
      <tbody>
        <tr *ngFor="let key of keys">
          <td>{{ key.code }}</td>
          <td>{{ key.room }}</td>
          <td>
            <button
              style="padding: 10px 20px"
              class="btn btn-primary danger"
              (click)="openDialog(key, 'delete')"
            >
              Delete
            </button>
            <button
              style="padding: 10px 20px"
              class="btn btn-primary"
              (click)="openDialog(key, 'update')"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
