<section>
  <dialog-popup
    *ngIf="showPopUp"
    (popStatus)="handlePopStatus($event)"
    [objectForAction]="keyForAction"
    [apiEndpoint]="apiEndpoint"
    [action]="dialogAction"
  ></dialog-popup>
  <div class="container">
    <h1>Nastavení klíčů</h1>
    <p class="note">
      Vyplňte pole pro vytvoření nového záznamu klíče. Kliknutím na tlačítko „+“ záznam uložíte. Pokud bude záznam aktualizován nebo smazán, bude aktualizován nebo odstraněn z databáze s uvedenými hodnotami.
    </p>
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        placeholder="...hledat"
      />
      <input placeholder="Kód klíče" type="text" [(ngModel)]="keyToSave.code" />
      <input placeholder="Místnost" type="text" [(ngModel)]="keyToSave.room" />
      <button class="btn btn-primary" (click)="createKeyRecord()">+</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Kód klíče</th>
          <th>Místnost</th>
          <th>Akce</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="keys.length === 0">
        Žádná data
      </p>
      <tbody>
        <tr *ngFor="let key of keys">
          <td>{{ key.code }}</td>
          <td>{{ key.room }}</td>
          <td>
            <button
              style="padding: 10px 20px"
              class="btn btn-primary danger"
              (click)="openDialog(key, 'delete')"
            >
              Smazat
            </button>
      <!--     <button
              style="padding: 10px 20px"
              class="btn btn-primary"
              (click)="openDialog(key, 'update')"
            >
              Aktualizovat
            </button>--> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
