<section>
  <div class="container">
    <h1>Keys Overview</h1>
    {{ keyToSave | json }}
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        class="input-control"
        placeholder="...search"
      />
      <button (click)="getKeys()">test</button>
      <label for="">KeyCode</label>
      <input type="text" [(ngModel)]="keyToSave.code" />
      <label for="">Key Room</label>
      <input type="text" [(ngModel)]="keyToSave.room" />
      <button class="btn btn-primary" (click)="createKeyRecord()">+</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Key Code</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="keys.length === 0">
        No data
      </p>
      <tbody>
        <tr *ngFor="let key of keys">
          <td>{{ key.code }}</td>
          <td>{{ key.room }}</td>
          <td>
            <button
              style="padding: 10px 20px"
              class="btn btn-primary danger"
              (click)="deleteKeyRecord(key.code)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
