section {
  flex-direction: column;
  justify-content: start;
  padding-top: 100px;
  gap: 10px;
}
textarea {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 10px;
}
