<section>
  <h1>Nastavení</h1>
  <p class="note">
    Nastavení textu pro aplikaci. Aktualizujte text a klikněte na „Uložit“ pro uložení změn.
  </p>
  <label class="form-label" for="">Safety Instructions/Bezpečnostní pokyny CZ:</label>
  <textarea
    [(ngModel)]="safetyInstructionsCZ"
    name=""
    id=""
    cols="80"
    rows="20"
  ></textarea>
  <label class="form-label" for="">Safety Instructions/Bezpečnostní pokyny EN:</label>
  <textarea
    [(ngModel)]="safetyInstructionsEN"
    name=""
    id=""
    cols="80"
    rows="20"
  ></textarea>
  <button class="btn btn-primary" (click)="updateSettings()">Uložit</button>
  <span *ngIf="status === 'complete'">Hotovo.</span>
  <span *ngIf="status === 'error'">Chyba.</span>
</section>
