<section>
  <h1>Settings</h1>
  <p class="note">
    Text settings for the application. Update the text and click "Save" to save
    the changes.
  </p>
  <label class="form-label" for="">Safety Instructions CZ:</label>
  <textarea
    [(ngModel)]="safetyInstructionsCZ"
    name=""
    id=""
    cols="80"
    rows="20"
  ></textarea>
  <label class="form-label" for="">Safety Instructions EN:</label>
  <textarea
    [(ngModel)]="safetyInstructionsEN"
    name=""
    id=""
    cols="80"
    rows="20"
  ></textarea>
  <button class="btn btn-primary" (click)="updateSettings()">Save</button>
  <span *ngIf="status === 'complete'">Update completed.</span>
  <span *ngIf="status === 'error'">Error during update.</span>
</section>
