<section>
  <dialog-popup
    *ngIf="showPopUp"
    (popStatus)="handlePopStatus($event)"
    [objectForAction]="rentToSave"
    apiEndpoint="key-rentals"
    action="update"
  ></dialog-popup>
  <div class="container">
    <h1>Rents Overview</h1>
    <p class="note">
      Overview of all rents. You can search by key code, filter by date range
      etc. You can manually return a key by clicking the "Return" button.
    </p>
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        class="input-control"
        placeholder="...search"
        (keyup)="handleSearch()"
      />
      <input type="date" class="input-control" [(ngModel)]="filter.fromDate" />
      <input
        type="date"
        class="input-control"
        (ngModelChange)="getRents()"
        [(ngModel)]="filter.toDate"
      />
      <button (click)="getRents()">test</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Key Code</th>
          <th>Room</th>
          <th>Status</th>
          <th>RFID</th>
          <th>Action</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="tableData.length === 0">
        No data
      </p>
      <tbody>
        <tr *ngFor="let rental of tableData">
          <td>{{ rental.key.code }}</td>
          <td>{{ rental.key.room }}</td>
          <td>{{ rental.status }}</td>
          <td>{{ rental.rfid }}</td>
          <td>
            <button
              style="padding: 10px 20px"
              *ngIf="rental.status === 'Rented'"
              class="btn btn-primary"
              (click)="openDialog(rental, 'Returned')"
            >
              Return
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
