<section>
  <dialog-popup
    *ngIf="showPopUp"
    (popStatus)="handlePopStatus($event)"
    [objectForAction]="rentToSave"
    apiEndpoint="key-rentals"
    action="update"
  ></dialog-popup>
  <div class="container">
    <h1>Přehled výpůjček klíčů</h1>
    <p class="note">
      Přehled všech výpůjček klíčů. Můžete vyhledávat podle kódu klíče, filtrovat podle časového rozmezí apod. Klíč můžete ručně vrátit kliknutím na tlačítko „Vrátit“.
    </p>
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        class="input-control"
        placeholder="...hledat"
        (keyup)="handleSearch()"
      />
      <input type="date" class="input-control" [(ngModel)]="filter.fromDate" />
      <input
        type="date"
        class="input-control"
        (ngModelChange)="getRents()"
        [(ngModel)]="filter.toDate"
      />
      <button class="btn btn-primary refresh" (click)="getRents()">
        Zobrazit
      </button>

    </div>
    <table>
      <thead>
        <tr>
          <th>Datum od</th>
          <th>Datum do</th>
          <th>Kód klíče</th>
          <th>Místnost</th>
          <th>Status</th>
          <th>RFID kód uživatele</th>
          <th>Akce</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="tableData.length === 0">
        Žádná data
      </p>
      <tbody>
        <tr *ngFor="let rental of tableData">
         
          <td>{{ rental.startRentDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>{{ rental.endRentDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ rental.key.code }}</td>
          <td>{{ rental.key.room }}</td>
          <td>{{ rental.status }}</td>
          <td>{{ rental.rfid }}</td>
          <td>
            <button
              style="padding: 10px 20px"
              *ngIf="rental.status === 'Rented'"
              class="btn btn-primary"
              (click)="openDialog(rental, 'Returned')"
            >
              Vrátit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
