section {
  padding: 120px 0 160px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  min-height: 100vh;
}
p {
  width: 350px;
  color: var(--gray-color);
}
.form-group {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange-color);
}
