<section class="card">
  <img src="assets/profile.png" alt="" class="hero-img" />
  <article class="instruction">
    <h1>Visitor Details</h1>
    <input type="text" [(ngModel)]="visitToSave.name" />
    <input type="email" [(ngModel)]="visitToSave.email" />
    <input type="text" [(ngModel)]="visitToSave.companyName" />
    <input type="text" [(ngModel)]="visitToSave.host" />
    <div class="row">
      <button class="btn btn-primary" (click)="triggerTraining()">
        Continue
      </button>
    </div>
  </article>
</section>
