<section>
  <notification
    *ngIf="notifData.notifStatus"
    [notifData]="notifData"
  ></notification>
  <scan-slide
    *ngIf="slide === 1"
    (dataExported)="handleExportedData($event)"
    @slideInOut
  >
  </scan-slide>
  <visitor-slide
    *ngIf="slide === 2"
    (dataExported)="handleExportedData($event)"
    @slideInOut
  ></visitor-slide>
  <training-slide
    *ngIf="slide === 3"
    @slideInOut
    [visitToSave]="saveVisit"
    (dataExported)="handleNotifStatus($event)"
  ></training-slide>
  <stepper [slide]="slide"></stepper>
</section>
