<section>
  <div class="container">
    <h1>Přehled návštěv</h1>
    <p class="note">
      Můžete vyhledávat podle jména, filtrovat podle časového období atd. Návštěvu můžete ručně vrátit kliknutím na tlačítko „Vrátit“.
    </p>
    <div class="row">
      <input
        [(ngModel)]="filter.searchTerm"
        type="text"
        class="input-control"
        placeholder="...hledat"
        (keyup)="handleSearch()"
      />
      <input type="date" class="input-control" [(ngModel)]="filter.fromDate" />
      <input
        type="date"
        class="input-control"
        (ngModelChange)="getVisits()"
        [(ngModel)]="filter.toDate"
      />
      <button class="btn btn-primary refresh" (click)="getVisits()">
        Zobrazit
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Jméno</th>
          <th>Email</th>
          <th>Společnost</th>
          <th>Host</th>
          <th>Datum návštěvy</th>
          <th>Staus návštěvy</th>
          <th>Akce</th>
        </tr>
      </thead>
      <p style="text-align: center; width: 100%" *ngIf="tableData.length === 0">
        Žádná data
      </p>
      <tbody>
        <tr *ngFor="let visit of tableData">
          <td>{{ visit.name }}</td>
          <td>{{ visit.email }}</td>
          <td>{{ visit.companyName }}</td>
          <td>{{ visit.host }}</td>
        
          <td>{{ visit.visitDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ visit.visitStatus }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="updateVisit(visit, 'Finished')"
              *ngIf="visit.visitStatus!='Finished'"
            >
              Dokončeno
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator
      *ngIf="visitsFromDB.length > 0 && totalPages > 0"
      style="justify-self: start"
      [handlePageChange]="handlePageChange.bind(this)"
      [totalPages]="totalPages"
      [currentPage]="filter.page"
    ></paginator>
  </div>
</section>
