p {
  text-align: start;
}
.training-text {
  font-size: 1.1rem;
  color: #000;
  overflow-y: auto;
  border-radius: 5px 0 0 5px;
  overflow-y: scroll;
  justify-content: start;
}
.training-text p {
  padding: 0 40px;
  color: var(--grey-color);
  margin-bottom: 30px;
}
.training-text::-webkit-scrollbar {
  width: 10px;
  background: rgb(230, 228, 228);
}
.training-text::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}
.title {
  font-size: 2em;
  font-weight: 500;
  color: var(--orange-color);
}
.instruction {
  text-align: center;
  font-weight: 400;
  padding: 20px;
}
