.training-text {
  font-size: 1.1rem;
  color: #000;
  overflow-y: auto;
  border-radius: 5px 0 0 5px;
  max-height: 450px;
  overflow-y: scroll;
}
.training-text p {
  padding: 0 40px;
  height: 300px;
  color: var(--grey-color);
}
.training-text::-webkit-scrollbar {
  display: none;
}
.title {
  font-size: 2em;
  font-weight: 500;
  color: var(--orange-color);
}
.instruction {
  text-align: center;
  font-weight: 400;
}
