<section class="card">
  <article class="instruction training-text">
    <span class="title">Safety Instructions</span>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt soluta
      consequuntur aperiam. Vel, esse. Esse quo quia, labore maiores provident
      veniam amet in harum dolore debitis. Enim tempore magni qui pariatur nemo,
      accusamus error tempora iure quisquam natus inventore vero! Nulla, modi.
      Quaerat quas alias, repellat nihil maiores atque numquam accusamus
      consequuntur reiciendis amet iure deleniti magnam reprehenderit temporibus
      delectus repudiandae labore doloribus vel eligendi eos corrupti dolorem.
      Sint sequi assumenda enim consectetur architecto repellendus ex eos
      accusamus error iusto? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quis soluta reiciendis maiores ducimus quaerat maxime. Ratione
      repellendus corrupti incidunt itaque hic reiciendis sequi quod eius
      explicabo, rem veniam mollitia non consectetur? Incidunt veniam eius enim
      quasi animi ut. Alias eligendi voluptatibus quidem, doloribus a labore
      tempore repellat similique sit fugiat! Quisquam, voluptates. Quisquam
      voluptates, quidem, quas, quos quae quia voluptas doloribus quibusdam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ex eius
      nesciunt eos distinctio unde repudiandae quasi omnis, autem accusamus,
      laborum aperiam ad itaque sint aliquam placeat quo cumque? Provident
      ducimus, vitae aperiam, esse illo error libero voluptate facere aliquam
      quidem pariatur unde voluptatum ipsam. Laborum consequuntur voluptates
      doloremque, facere rem esse, aperiam tenetur, incidunt sint delectus
      blanditiis odit aliquam vitae harum ad cum ratione neque laudantium modi
      veniam labore voluptatibus. Voluptatem officiis fugiat repellat veritatis
      dolor illo tempora reiciendis.
    </p>
  </article>
  <article class="instruction">
    <h1>By entering this area, you agree to follow the safety instructions</h1>
    <button class="btn btn-primary" (click)="createVisit()">Agree</button>
  </article>
</section>
