:root {
  --gunmetal-color: #28283c;
  --white-color: #ffffff;
  --black-white: #141414;
  --mustard-color: #c8b400;
  --orange-color: #d36236;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.btn-primary {
  background-color: var(--orange-color);
  color: var(--white-color);
  border: none;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--gunmetal-color);
}
